*{margin: 0;padding: 0;font-family: "微软雅黑" !important;}
body,html{
	width: 720px;
	margin: 0 auto;
}
li{ list-style:none; }
a{ text-decoration:none; }
img{ vertical-align:top; }
header{
	width: 720px;
	height: 50px;
	overflow: hidden;
	background: #1b1b1b;
}
header img{
	float: left;
	margin-top: 4px;
	margin-left: 10px;
	width: 79px;
}
header h1{
	color: #fff;
	float: left;
	margin-top: 20px;
	margin-left: 10px;
	font-size: 18px;
}
header p{	
	font-size: 15px;
	height: 100%;
	padding-left: 35px;
	color: #fff;
	font-weight: bold;
	float: right;
	margin-right: 8px;
	line-height: 50px;
	background: url(../image/phone.png) no-repeat 0 center;
}
/*banner*/
.banner{
	width: 720px;
	height: 423px;
	background: url(../image/banner.png) no-repeat center;
	overflow: hidden;
	text-align: center;
	position: relative;
}
.banner p.b_p1{
	font-size: 26px;
	color: #fff;
	animation:run1 0.5s forwards  alternate linear;
}
@keyframes run1{
		0%{
			margin-top: 0px;
		}
		100%{
			margin-top: 80px;
		}
	}
.banner h1{
	font-size: 88px;
	color: #fff;
	animation:run2 1s forwards  alternate linear;
}
@keyframes run2{
		0%{
			margin-top: -110px;
		}
		100%{
			margin-top: 46px;
		}
	}
.banner p.b_p2{
	font-size: 28px;
	color: #fcff00;
	animation:run3 1.5s forwards  alternate linear;
}
@keyframes run3{
		0%{
			margin-top: -150px;
		}
		50%{
			margin-top: 105px;
		}
		60%{
			margin-top: 45px;
		}
		70%{
			margin-top: 60px;
		}
		80%{
			margin-top: 37px;
		}
		90%{
			margin-top: 52px;
		}
		100%{
			margin-top: 45px;
		}
	}

.cont1{
	text-align: center;
	overflow: hidden;
	background: url(../image/cont1_bg.png) no-repeat center 135px;
}
.tt_p{
	font-size: 33px;
	font-weight: bold;
	color: #f73157;
	margin-top: 36px;
}
.tt_h{
	font-size: 38px;
	color: #5d70dd;
	margin-top: 22px;
}
.tt_h span{
	font-size: 40px;
	color: #ff6000;
}
.tt_jg{
	width: 720px;
	height: 60px;
	background: url(../image/jiange.png) no-repeat center;
}
.cont1_cc{
	width: 690px;
	height: 540px;
	border: 2px solid #5d70dd;
	margin: 0 auto;
	border-radius: 4px;
	background: #fff;
}
.cont1_cc p{
	text-align: left;
	font-size: 24px;
	width: 664px;
	height: 90px;
	line-height: 90px;
	background: url(../image/cont1_l.png) no-repeat 95% center;
	background-size: 62px 62px;
	padding-left: 30px;
}
.cont1_cc a{
	display: block;
	width: 203px;
	height: 45px;
	background: #5d70dd;
	font-size: 24px;
	color: #fff;
	text-align: center;
	line-height: 45px;
	margin: 0 auto;
	border-radius: 3px;
}

.cont2{
	overflow: hidden;
	text-align: center;
}
.cont2_tt{
	width: 720px;
	height: 110px;
	overflow: hidden;
}
.cont2_tt h2{
	font-size: 32px;
	color: #fff;
	margin-top: 12px;
}
.cont2_tt p{
	font-size: 30px;
	color: #fff;
	margin-top: 10px;
}
.cont2_cc{
	width: 720px;
	background: #fbfbfb;
	overflow: hidden;
}
.cont2_cc p{
	width: 680px;
	font-size: 24px;
	line-height: 40px;
	padding: 0 20px;
	text-align: left;
}
.cont2_cc p span{
	font-weight: bold;
}
.cont2_c1{
	margin-top: 25px;
}
.cont2_cc a{
	width: 280px;
	height: 50px;
	display: block;
	font-size: 24px;
	text-align: center;
	line-height: 50px;
	color: #fff;
	margin: 30px auto;
}
.cont2_tt1{
	background: #fc8e5e;
}
.cont2_cc1 a{
	background: #fc8e5e;
}
.cont2_tt2{
	background: #852dde;
}
.cont2_cc2 a{
	background: #852dde;
}
.cont2_tt3{
	background: #13b5b1;
}
.cont2_cc3 a{
	background: #13b5b1;
}
.cont2_tt4{
	background: #f63f54;
}
.cont2_cc4 a{
	background: #f63f54;
}
.cont2_tt5{
	background: #00b7ee;
}
.cont2_cc5 a{
	background: #00b7ee;
}

.cont3{
	overflow: hidden;
	text-align: center;
}

.btnbox{
	width: 700px;
	overflow: hidden;
	margin: 0 auto;
}
.btnbox a{
	float: left;
	width: 340px;
	height: 57px;
	font-size: 30px;
	color: #fff;
	background: #5f52a0;
	background: #3e356a;
	text-align: center;
	line-height: 57px;
	border-radius: 3px;
}
.btnbox a:nth-child(2){
	float: right;
}
.btnbox .on1{
	background: #3e356a;
	color: #f6ff00;
}
.showbox{
	width: 700px;
	margin: 35px auto 0; 
}
.showbox .box1 li{
	width: 100%;
	overflow: hidden;
}
.showbox .box1 li h1{
	width: 182px;
	height: 182px;
	float: left;
	font-size: 30px;
	color: #fff;
	line-height: 182px;
	text-align: center;
}
.showbox .box1 li div{
	width: 518px;
	float: left;
}
.showbox .box1 li div p{
	width: 488px;
	font-size: 24px;
	color: #fff;
	padding-left: 30px;
	background: url(../image/point.png) no-repeat 10px 12px;
	text-align: left;
}
.box1 li.cont3_c1{
	background: #ae9ee4;
}
.box1 li.cont3_c1 div{
	margin-top: 60px;
}
.box1 li.cont3_c1 h1{
	background: url(../image/cont3_1.png) no-repeat center;
}
.box1 li.cont3_c2{
	background: #13b5b1;
	margin-top: 15px;
}
.box1 li.cont3_c2 h1{
	background: url(../image/cont3_2.png) no-repeat center;
}
.box1 li.cont3_c2 div{
	margin-top: 60px;
}
.box1 li.cont3_c3{
	background: #ec6941;
	margin-top: 15px;
	height: 290px;
}
.box1 li.cont3_c3 h1{
	background: url(../image/cont3_3.png) no-repeat center;
	margin-top: 55px;
}
.box1 li.cont3_c3 div{
	margin-top: 60px;
}

.box2{
	width: 700px;
}
.box2 li{
	width: 700px;
	height: 126px;
	overflow: hidden;
}
.box2 li:nth-child(2),.box2 li:nth-child(3){
	margin-top: 15px;
}
.box2 li img{
	float: left;
	width: 126px;
	height: 126px;
}
.box2 li p{
	width: 558px;
	height: 122px;
	border: 2px solid #8f82bc;
	float: right;
	font-size: 25px;
	font-weight: bold;
	line-height: 122px;
	
}
.box2 li p.pp1{
	width: 478px;
	height: 52px;
	padding: 35px 40px;
	line-height: 31px;
	color: #3e356a;
	text-align: left;
}
.box2 li img.ii2{
	float: right;
}
.box2 li p.pp2{
	float: left;
	color: #489abf;
}
.box2 li p.pp3{
	color: #ffa200;
}

.cont4{
	overflow: hidden;
	text-align: center;
}
.cont4_cc{
	position: relative;
	width: 700px;
	height: 435px;
	margin: 0 auto;
}
.cont4_cc h2{
	font-size: 24px;
	color: #f73157;
	width: 175px;
	height: 79px;
	background: url(../image/cont4_1.png);
	background-size: 175px 79px;
	text-align: center;
	line-height: 79px;
	position: absolute;
	left: 0;
	z-index: 999;
}
.cont4_cc .c4_h1{
	top: -3px;
}
.cont4_cc .c4_h2{
	top: 85px;
}
.cont4_cc .c4_h3{
	top: 173px;
}
.cont4_cc .c4_h4{
	top: 261px;
}
.cont4_cc .c4_h5{
	top: 350px;
}
.cont4_cc p{
	font-size: 24px;
	color: #fff;
	width: 560px;
	height: 75px;
	background: url(../image/cont4_2.png);
	background-size: 560px 75px;
	text-align: center;
	line-height: 75px;
	position: absolute;
	right: 0;
}
.cont4_cc .c4_p2{
	top: 88px;
}
.cont4_cc .c4_p3{
	top: 176px;
}
.cont4_cc .c4_p4{
	top: 264px;
}
.cont4_cc .c4_p5{
	top: 352px;
}

.cont5{
	text-align: center;
}
.cont5 .c5_tt{
	width: 720px;
	height: 52px;
	background: #ec6941;
	font-size: 22px;
	color: #fff;
	text-align: center;
	line-height: 52px;
}
.cont5 table{
	border-collapse:collapse;
	width: 700px;
	margin: 0 auto;
	margin-top: 5px;
}

tr,td,th{
	border:2px solid #000;
	height: 40px;
	font-size: 24px;
}
th{
	height: 118px;
	font-weight: normal;
}
.cont5 th:nth-child(1),.cont5 td:nth-child(1){
	width: 74px;
}
.cont5 th:nth-child(2),.cont5 td:nth-child(2){
	width: 108px;
}
.cont5 th:nth-child(3),.cont5 td:nth-child(3){
	width: 106px;
}
.cont5 th:nth-child(4),.cont5 td:nth-child(4){
	width: 108px;
}
.cont5 th:nth-child(5),.cont5 td:nth-child(5){
	width: 108px;
}
.cont5 th:nth-child(6),.cont5 td:nth-child(6){
	width: 108px;
}
.cont5 a{
	display: block;
	width: 305px;
	height: 55px;
	background: #e5004f;
	color: #fff;
	font-size: 24px;
	text-align: center;
	line-height: 55px;
	margin: 27px auto;
	border-radius: 4px;
}

.cont6{
	overflow: hidden;
	text-align: center;
	background: url(../image/cont6_bg.png) no-repeat center 100px;
}
.cont6 .cont6_cc{
	width: 700px;
	margin: 0 auto;
	height: 388px;
	overflow: hidden;
}
.c6_1{
	float: left;
	width: 307px;
	height: 383px;
	border: 2px solid #7b7b7b;
}
.c6_2{
	float: right;
	width: 380px;
	height: 180px;
	border: 2px solid #7b7b7b;
}
.c6_3{
	float: right;
	width: 380px;
	height: 180px;
	border: 2px solid #7b7b7b;
	margin-top: 19px;
}
.cont6 a{
	display: block;
	width: 265px;
	height: 60px;
	font-size: 24px;
	text-align: center;
	line-height: 60px;
	float: left;
	border-radius: 4px;
	color: #fff;
	margin-top: 30px;
}
.cont6 a.c6_a1{
	background: #ec6941;
	margin-left: 93px;
}
.cont6 a.c6_a2{
	background: #556fb5;
	margin-left: 25px;
}

.cont7{
	overflow: hidden;
	text-align: center;
	background: url(../image/cont7_bg.png) no-repeat center 0;
	height: 596px;
}
.cont7 img{
	margin-bottom: 18px;
	width: 697px;
}

.foot{
	width: 720px;
	height: 68px;
	background: #1b1b1b;
	overflow: hidden;
	position: fixed;
	bottom: 0;
}
.foot .tel{
	float: left;
	font-size: 24px;
	height: 100%;
	line-height: 68px;
	margin-left: 40px;
	color: #fff;
}
.foot .tel span{
	color: #e60012;
}
.foot .QQ_ask{
	float: right;
	height: 68px;
	line-height: 68px;
	color: #fff;
	font-size: 24px;
	margin-right: 40px;
}
.bdsharebuttonbox{
	overflow: hidden;
	float: right;
	width: 100px!important;
	height: 68px!important;
	
}
.bdsharebuttonbox > a{
	font-size: 24px!important;
	color: #fff!important;
	width: 55px!important;
	height: 68px!important;
	display: block!important;
	line-height: 68px!important;
	padding: 0!important;
}
.bdshare-button-style0-16 a, .bdshare-button-style0-16 .bds_more{
	background-image: none!important;
}